body {
  text-align: center;
  background-image: url("https://p11cdn4static.sharpschool.com/UserFiles/Servers/Server_56700/Image/District%20News/school%20png.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffffff;
  font-family: "Roboto";
}
